<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

  <head th:replace="fragments/admin-template :: header-fragment">

  </head>

  <body id="page-top">
	<!-------NAV BAR-------------------->
  <div th:replace="fragments/admin-template :: navbar-fragment">

   </div> <!--- End of navbar-fragment---->
   
	<!-----End of NAVBAR ---------------->
  
  <!---------------------------------- Sidebar ------------------------>
    <div id="wrapper">

      <div th:replace="fragments/admin-template :: sidebar-fragment">

      
     </div>  <!----End of sidebar fragment---> 
     
     
	<!----------- Admin Main Content ------------------------>
	
      <div id="content-wrapper">

        <div class="container-fluid">

          <!-- Breadcrumbs-->
           <div th:replace="fragments/admin-template :: breadcrumb-fragment">
          </div>

          <!-- Icon Cards-->
          <div class="row mg-2">
		<!-- <div class="col-2"></div> -->	
			<div class="col">
			
			<!-- Start Card Form -->
				<div class="card w-50 mx-auto mb-5 ">
					<div class="card-body" th:object="${patient}">
						<form action="#" th:action="@{/physician/savePhysician}" th:object="${physician}" method="POST">

							<!-- need to associate this data with employee id -->
							<input type="hidden" th:field="*{id}" />
							<div class="form-group ">
								<label >Physician Name:</label>
								<input class="form-control" type="text" th:field="*{physicianName}" />
								
							</div>
							<div class="form-group">
								<label >Specialty:</label>
								<input class="form-control" type="text" th:field="*{physicianSpecialty}" />
								
							</div>
							<div class="form-group ">
								<label >Address:</label>
								<input class="form-control" type="text" th:field="*{physicianAddress}" />
							
							</div>					
							<div class="form-group">
								<label>Phone:</label>
								<input class="form-control" type="text" th:field="*{physicianPhone}" />
								
							</div>					
							<div class="navbar">
								<button type="submit" class="btn btn-primary col-sm-4 ">Save</button>
								 <a role="button" class="btn btn-danger col-sm-4" 
										th:href="@{/patient/list }">Cancel</a>
							
							</div>
							 	
						</form>
		
					</div>
				</div>
				<!-- End Card Form -->

		</div>
		
			<!-- <div class="col-2"></div> -->	
		</div>
            
            
          </div>

        </div>
        <!-- /.container-fluid -->

        <!------------------Sticky Footer---------------->
        <div th:replace="fragments/admin-template :: footer-fragment">
          
        </div>  <!--End of footer fragment--->
      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <div th:replace="fragments/admin-template :: modal-fragment">
    
    </div>  <!---End of modal fragment--->
    
    <div th:replace="fragments/admin-template :: script-fragment">
    
    </div>  <!--End of script fragment-->
  </body>

</html>
