<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
        <link  href="../vendor/bootstrap/css/bootstrap.min.css" 
    	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

  </head>

  <body id="page-top">
	<!-------NAV BAR-------------------->
     <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="index">PMS</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
      
      <span class="navbar-text align-middle mx-auto">
        <h4 class="text-primary text-uppercase">Patient Management System</h4>
         <span class="text-muted text-capitalize font-italic ">
	        Spring Boot & Spring Data JPA
	      </span>
      </span>
       

      <!-- Navbar -->
      
          <div >
            <a class="btn btn-success" th:href="@{/home/login}">Login</a>
           
          </div>
       

    </nav>

     <div id="content-wrapper">
        <!----No Fragment this section - Main Content---->
        <div class="container-fluid">

         

          <!-- Icon Cards-->
          <div class="row">
            <div class="col-xl-12 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5 text-center">Project Summary</div>
                </div>
                <div class="card-footer text-white clearfix small z-1" >
                  <ul>
                    <li>Spring Boot Version 2.1.2.RELEASE</li>
                    <li>Maven Version</li>
                    <li>Spring MVC</li>
                    <li>Spring Boot Security</li>
                    <li>Thymeleaf</li>
                    <li>Bootstrap Version 4.2.1</li>
                  
                  </ul>
                 
                </div>
              </div>
            </div>
            
            
          </div>

        </div>
        <!-- /.container-fluid -->

        <!------------------Sticky Footer---------------->
        <div th:replace="fragments/admin-template :: footer-fragment">
          
        </div>  <!--End of footer fragment--->
      </div>
    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"
   								   th:src="@{/vendor/jquery/jquery.min.js}"></script>
    
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.bundle.min.js"
   								th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="/vendor/jquery-easing/jquery.easing.min.js"
    							th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
  </body>

</html>
