<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>

    <!-- Bootstrap core CSS-->
        <link  href="../vendor/bootstrap/css/bootstrap.min.css" 
    	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

  </head>

  <body id="page-top">
	<!-------NAV BAR-------------------->
     <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href="index">PMS</a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
      
      <span class="navbar-text align-middle mx-auto">
        <h4 class="text-primary text-uppercase">Patient Management System</h4>
         <span class="text-muted text-capitalize font-italic ">
	        Spring Boot & Spring Data JPA
	      </span>
      </span>
       

      <!-- Navbar -->
      
          <div >
            <a class="btn btn-success" th:href="@{/home/login}">Login</a>
           
          </div>
       

    </nav>

     <div id="content-wrapper">
        <!----No Fragment this section - Main Content---->
        <div class="container-fluid">

         

          <!-- Icon Cards-->
          <div class="row">
            <div class="col-xl-8 col-sm-6 mx-auto mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5 text-center">Project Summary</div>
                </div>
                <div class="card-footer text-white text-xl-left " >
                  <ul>
                    <li>Spring Boot Version 2.1.2.RELEASE</li>
                    <li>Spring Data JPA 2.1.5.RELEASE</li>
                    <li>Hibernate-Core 5.3.7.FINAL </li>
                    <li>Maven Version 4.0.0</li>
                    <li>Spring Web MVC 5.1.5.RELEASE</li>
                    <li>Spring Security 5.1.4.RELEASE</li>
                    <li>Thymeleaf 2.1.3.RELEASE </li>
                    <li>Thymeleaf Extras Spring Security5 3.0.4.RELEASE </li>
                    <li>Bootstrap Version 4.2.1</li>
                  
                  </ul>
            
                </div>
                <div class="card-body">
                  <p>The Patient Manager project is created to monitor patient's information such as medications, physicians, pharmacies, and 
                  personal info.  This project is written using Spring Boot to automatically configure dependencies, properties, and beans that
                  exist in the application.  More advanced Spring Data JPA is also applied to connect database.  The application is protected by 
                  Spring Security.  Thymeleaf and Bootstrap are also involved to help in elegant design.</p>
                  <p>After successful login, user can perform  CRUD tasks on the manager.  There are four majors entities including
                  Patient, Medication, Physician, and Pharmacy.  User is able to create, read, update, and delete on each model.</p>  
                  
                  </div>
              </div>
            </div>
            
            
          </div>

        </div>
        <!-- /.container-fluid -->

        <!------------------Sticky Footer---------------->
        <div th:replace="fragments/admin-template :: footer-fragment">
          
        </div>  <!--End of footer fragment--->
      </div>
    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"
   								   th:src="@{/vendor/jquery/jquery.min.js}"></script>
    
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.bundle.min.js"
   								th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="/vendor/jquery-easing/jquery.easing.min.js"
    							th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
  </body>

</html>
